* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
}

html {
  height: 100%;
}

.wrapper {
  background-color: rgb(34, 34, 34);
  color: #cccccc;
}

body {
  height: 100%;
  padding: 20px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadein {
  from {
    opacity: 0;
    margin-bottom: 50px;
  }
  to {
    opacity: 1;
    margin-bottom: 0;
  }
}

.main {
  animation-name: fadein;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

h1,
h3 {
  text-align: center;
}

h1 {
  font-size: 3rem !important;
}

h3 {
  font-size: 1.3rem !important;
  color: #838383;
}

.buttons {
  margin: 30px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn.btn-info {
  margin: 10px 7px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 2.5rem !important;
  }
  h3 {
    font-size: 1.2rem !important;
  }
}
