* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

/*Colors: 
  - primary: rgb(223, 229, 241);
  - secondary: #6C8EE4;
*/

body {
  background-color: #e8ecf4;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  display: inline-flex;
  margin: 25px 10px;
}

.nav_button {
  width: 40px;
  height: 40px;
  border-radius: 22px;
  border: 2px solid #6c8ee4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 8px;
}

.window {
  margin: 15px;
  background-color: #e8ecf4;
  border: 3px solid #6c8ee4;
  width: 33%;
  min-width: 600px;
  display: inline-flex;
  flex-direction: column;
  border-radius: 25px;
  user-select: none;
  animation-name: fadein;
  animation-duration: 0.6s;
}

.title {
  margin-top: -3px;
  margin-left: -3px;
  width: 100%;
  text-align: center;
  background-color: #e8ecf4;
  font-size: 55px;
  color: #6c8ee4;
  padding: 30px 0;
  border-radius: 25px;
  border: 3px solid #6c8ee4;
}

@keyframes sec_button_animation {
}

/* .s_container {
  display: flex;
  justify-content: space-between;
}

[class*="_side"] {
  margin: 5px 10px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.secondary_button {
  margin: 3px;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: #e8ecf4;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.secondary_button:hover {
  background-color: #d1d5dd;
}

.secondary_button:hover i {
  font-size: 1.15em;
}

.secondary_button p {
  display: none;
}

.secondary_button i {
  color: #6c8ee4;
  transition: font-size 0.05s;
} */

.p_container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

.primary_button {
  display: block;
  text-decoration: none;
  transition: background-color 0.5s;
  color: #6c8ee4;
  font-size: 1.8em;
  background-color: #e8ecf4;
  border-radius: 10px;
  border: 2px solid #6c8ee4;
  padding: 5px 15px;
  margin: 20px 40px;
}

.primary_button:hover {
  background-color: #6c8ee4;
  color: #e8ecf4;
}

@media only screen and (max-width: 650px) {
  .window {
    width: 100%;
    min-width: auto;
  }
}

@media only screen and (max-width: 400px) {
  .window {
    font-size: 0.85em;
  }
  .s_container {
    display: none;
  }
  .container {
    background-color: #e8ecf4;
  }
}
